@import url('vue-accessible-color-picker/styles');

:root {
    /* Variables here are for the color picker used in the colors config */
    // default value #fff
    --vacp-color-background-input: var(--surface-section); 
    // default value #fff
    --vacp-color-background: var(--surface-card);
    // default value #000
    --vacp-color-border: #000;
    // default value #19f
    --vacp-color-focus: var(--primary-color);
    // default value currentColor
    --vacp-color-text-input: currentColor;
    // default value currentColor
    --vacp-color-text: currentColor;
    // default value -apple-system, BlinkMacSystemFont, Segoe UI, Arial, sans-serif
    --vacp-font-family: var(--font-family);
    // default value 0.8em
    --vacp-font-size: 0.8em;
    // default value 6px
    --vacp-spacing: 6px;
    // default value 1px
    --vacp-width-border: 1px;
    // default value 300px
    --vacp-width-color-space: 300px;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--surface-ground);
    color: var(--text-color);
    font-family: var(--font-family);
    
    > #app {
        width: 100%;
        height: 100%;
    }
    
    *:focus-visible {
        outline-offset: 0;
        outline: 0;
    }
    a {
        color: var(--primary-color);
        
        &:hover {
            color: var(--primary-700);
        }
    }
}

*::-webkit-scrollbar {
    width: 0.75rem;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--surface-border);
    outline: none;
    border-radius: 10px;
    background-clip: content-box;
    min-width: 32px;
    min-height: 32px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}
.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}
